<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_IExchangeInstrumentService" />
                        <binding name="BasicHttpBinding_ILogger" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://40.117.144.146:8041/ExchangeInstrumentService.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeInstrumentService"
                        contract="ExchangeInstrumentService.IExchangeInstrumentService"
                        name="BasicHttpBinding_IExchangeInstrumentService" />
                <endpoint address="http://40.117.144.146:5000/Logger.svc" binding="basicHttpBinding"
                        bindingConfiguration="BasicHttpBinding_ILogger" contract="NeuroTraderLoggerReference.ILogger"
                        name="BasicHttpBinding_ILogger" />
        </client>
    </system.serviceModel>
</configuration>