<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PALSA.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PALSA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <PALSA.Properties.Settings>
      <setting name="IsLockWorkStation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockWorkStationTime" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="IsLockTimeInSeconds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultWorkSpace" serializeAs="String">
        <value />
      </setting>
      <setting name="IsShowDateTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenAllViewsWith" serializeAs="String">
        <value />
      </setting>
      <setting name="IsFrshOrder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsOrderModification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMarketOrder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsOrderCancellation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTradeModification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsDifferentProductOrder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsOutsideDPROrder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsOpenPositionAlertOnLogoff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsPendingOrdersAlertOnLogoff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QuantityAlerts" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ValueAlerts" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PriceAlerts" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SpreadIOCPriceAlerts" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TradingCurrencyAlerts" serializeAs="String">
        <value />
      </setting>
      <setting name="IsPrintOrderConfirm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsPrintTradeConfirm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMTMonLineCalculation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MessageBarMessageType" serializeAs="String">
        <value />
      </setting>
      <setting name="Event" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsBeep" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsFlashMessageBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMessageBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimeFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlwaysOpenTheOrderBookWith" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultInstrumentName" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxMessageInMessageBox" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="IsAlwaysUseMinOrderQtyGiven" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinOrderQty" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OrderValidity" serializeAs="String">
        <value>DAY</value>
      </setting>
      <setting name="IsDisableDQty" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTriggerPriceSameAsLimitPrice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccountType" serializeAs="String">
        <value>Client</value>
      </setting>
      <setting name="IsPrefixClientIDWith" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsRetainLastClientID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsClientNameEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsOTROrderAlert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsPrefixOmniIdWith" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsRetainLastParticipaintCodeOmniId" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsUnregisteredClientAlert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrefixClientIDWith" serializeAs="String">
        <value />
      </setting>
      <setting name="PrefixOmniIdWith" serializeAs="String">
        <value />
      </setting>
      <setting name="OrderEntryOnce" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OrderEntryMultiple" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsDisableProductDetails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCloseOrderEntryAfterSubmission" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsPriceDecimalSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SIOC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MarketWatchPortfolio" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TickerDisplay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TickerPortfolio" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TickerComodityDisplay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TickerSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TickerComoditySpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlaceBuyOrderHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="PlaceSellOrderHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="OrderBookHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="MarketPictureHotKey" serializeAs="String">
        <value>F6</value>
      </setting>
      <setting name="TradesHotKey" serializeAs="String">
        <value>F8</value>
      </setting>
      <setting name="ModifiedTradesHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="MessageLogHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginHotKey" serializeAs="String">
        <value>Ctrl+L</value>
      </setting>
      <setting name="LogoffHotKey" serializeAs="String">
        <value>Ctrl+O</value>
      </setting>
      <setting name="FilterBarHotKey" serializeAs="String">
        <value>Ctrl+S</value>
      </setting>
      <setting name="PreferencesHotKey" serializeAs="String">
        <value>Ctrl+R</value>
      </setting>
      <setting name="LockWorkstationHotKey" serializeAs="String">
        <value>Ctrl+W</value>
      </setting>
      <setting name="NetPositionHotKey" serializeAs="String">
        <value>Ctrl+F6</value>
      </setting>
      <setting name="SnapQuoteHotKey" serializeAs="String">
        <value>Alt+F9</value>
      </setting>
      <setting name="PortfolioHotKey" serializeAs="String">
        <value>Shift+P</value>
      </setting>
      <setting name="ModifyOrderHotKey" serializeAs="String">
        <value>Shift+F2</value>
      </setting>
      <setting name="CancelAllOrdersHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ContractInformationHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="TickerHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="TopGainersLosersHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="StatusBarHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="LastClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastParticipaintOmniID" serializeAs="String">
        <value />
      </setting>
      <setting name="LstInstruments" serializeAs="String">
        <value />
      </setting>
      <setting name="MarketWatchProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="TradeProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="NetPositionProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="OrderBookProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="PortfolioProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="DownTrendColor" serializeAs="String">
        <value>192, 0, 0</value>
      </setting>
      <setting name="AlertTriggerColor" serializeAs="String">
        <value />
      </setting>
      <setting name="MarketQuoteDownColor" serializeAs="String">
        <value>192, 0, 0</value>
      </setting>
      <setting name="MarketQuoteBackColor" serializeAs="String">
        <value>DodgerBlue</value>
      </setting>
      <setting name="OrderFormSetting" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PositionSizeType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DefaultTradingAccount" serializeAs="String">
        <value />
      </setting>
      <setting name="LastTickerPortfolio" serializeAs="String">
        <value />
      </setting>
      <setting name="BuyOrderColor" serializeAs="String">
        <value>0, 192, 0</value>
      </setting>
      <setting name="SellOrderColor" serializeAs="String">
        <value>DodgerBlue</value>
      </setting>
      <setting name="UpTrendColor" serializeAs="String">
        <value>0, 192, 0</value>
      </setting>
      <setting name="MarketQuoteUpColor" serializeAs="String">
        <value>0, 192, 0</value>
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MarketWatchHotKey" serializeAs="String">
        <value>F4</value>
      </setting>
      <setting name="CancelOrderHotKey" serializeAs="String">
        <value>Shift+F3</value>
      </setting>
      <setting name="ServeillanceDefaultProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableTradingOnMarketWatch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DirectMarketExecution" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SingleClickOrderSubmit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MarketWatchTradingDefaultQuantity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LoginName" serializeAs="String">
        <value />
      </setting>
      <setting name="SavePassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MarketWatchInDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MarketQuoteInDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Level2DataInDoc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChartInDoc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RadarInDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScannerInDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MatrixInDoc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OrderHistoryInDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TradeHistoryInDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NetPositionInDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MailInDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MarketWatchIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MarketQuoteIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Level2DataIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ChartIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="RadarIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ScannerIndex" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MatrixIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="OrderHistoryIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TradeHistoryIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NetPositionIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MailIndex" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="MarketWatchZone" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MarketQuoteZone" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Level2DataZone" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ChartZone" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="RadarZone" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ScannerZone" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MatrixZone" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="OrderHistoryZone" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TradeHistoryZone" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NetPositionZone" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MailZone" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="AccountsInDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccountsIndex" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AccountsZone" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="AlertsInDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlertsIndex" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="AlertsZone" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>Dawish Intelli Trader</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>70</value>
      </setting>
    </PALSA.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PALSA.Properties.Settings>
      <setting name="backcolour_black" serializeAs="String">
        <value>225, 225, 225</value>
      </setting>
    </PALSA.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAlertScriptService" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IExchangeInstrumentService" />
        <binding name="BasicHttpBinding_IAlertScriptService1" />
        <binding name="BasicHttpBinding_IOHLCservice" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://103.233.58.96:8091/AlertScriptService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlertScriptService"
        contract="AlertScriptService.IAlertScriptService" name="BasicHttpBinding_IAlertScriptService" />
      <endpoint address="http://192.168.2.77:84/OHLCservice.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IOHLCservice" contract="OHLCservice.IOHLCservice"
        name="BasicHttpBinding_IOHLCservice" />
      <endpoint address="http://217.160.11.198:8041/ExchangeInstrumentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeInstrumentService"
        contract="InstrumentService.IExchangeInstrumentService" name="BasicHttpBinding_IExchangeInstrumentService" />
    </client>
  </system.serviceModel>
</configuration>